[submodule "engines/mae_epddl_planning/MetacognitiveEpistemicPlanning"]
	path = engines/mae_epddl_planning/MetacognitiveEpistemicPlanning
	url = https://github.com/FrancescoFabiano/MetacognitiveEpistemicPlanning.git
